<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="winform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <winform.Properties.Settings>
            <setting name="nRow" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="nCol" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="nMine" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="初级" serializeAs="String">
                <value />
            </setting>
        </winform.Properties.Settings>
    </userSettings>
</configuration>